.selectPay-wrapper {
  flex-basis: 25%;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
}

.pay-method-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pay-method-header {
  flex: .5;
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
}

.selectbox-wrapper select {
  width: 100%;
  height: 50px;
}

.input-wrapper {
  flex: 1;
}

.input-wrapper input {
  width: 100%;
  height: 100%;
}