.menuBar-wrapper {
  flex: .15;
  background-color: rgb(18, 19, 19);
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul li {
  text-align: center;
  padding: 5px 0;
  margin: 1px;
  background-color: rgb(42, 43, 43);
  color: aliceblue;
  font-size: 40px;
  line-height: 5rem;  
}

li:hover {
  cursor: pointer;
  border: 1px solid rgb(243, 243, 185);
}

@media (max-width: 1360px) {
  ul li {
    font-size: 20px;
    line-height: 3rem;  
  }
}