.menuList-wrapper {
  flex: 1;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(auto);
  overflow-y: scroll; 
}

.item-wrapper {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.item-wrapper div {
  text-align: center;
}

.item-name {
  background-color: gray;
}

.item-name span {
  font-size: 30px;
}

.item-bottom {
  display: flex;
}

.item-bottom .item-btn {
  flex: 1;
}

.item-bottom .item-btn button {
  width: 100%;
}

.item-bottom .item-price {
  flex: 1;
}